<div class="full-screen">
  <div class="container-custom">
    <h1 class="text-center">My Digital Coobook</h1>
    <hr class="thick-line">
    <div class="input-wrapper py-1 mt-1">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="form-label text-size-regular">Catégorie :</h3>
        <% if @selected_category.present? %>
          <h3 class="form-label text-size-regular color-green ms-2">
            <%= @selected_category.name.capitalize %>
          </h3>
        <% else %>
          <h3 class="form-label text-size-regular color-green ms-2">Toutes</h3>
        <% end %>
      </div>
    </div>
    <div class="input-wrapper py-1">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="form-label text-size-regular">Ingrédient clé :</h3>
        <% if @main_ingredient.present? %>
          <h3 class="form-label text-size-regular color-green ms-2"><%= @main_ingredient.capitalize %></h3>
        <% else %>
          <h3 class="form-label text-size-regular color-green ms-2">Aucun</h3>
        <% end %>
      </div>
    </div>
    <div class="tag-wrapper">
      <% if @selected_tags.any? %>
        <% @selected_tags.each do |tag| %>
          <div class="tag-item tag-label">
            <%= tag.name %>
          </div>
          <% end %>
      <% end %>
    </div>
    <div class="results-wrapper">
      <h2 class="form-label text-size-regular text-weight-semibold mb-2">RESULTATS DE RECHERCHE :</h2>
      <% @recipes.each do |recipe| %>
        <%= link_to "#{recipe.title.upcase} <i class='fa-solid fa-arrow-right'></i>".html_safe, recipe_path(recipe), class: "recipe-link" %>
      <% end %>
    </div>
    <div class="return-wrapper">
      <%= link_to "Nouvelle recherche", categories_path, class:"return-link" %>
    </div>
  </div>
</div>
